body {
  background-image:url(http://cdn.mos.cms.futurecdn.net/exY7h2Z2BUYML95suQv4MM.jpg);
}
h1 {
  color : aqua;
  display : block;
  background-color : black;
  padding : 20px;
  border : solid blue 3.5px;
  font-family;
  font-size : 50px;
  margin : 20px;
  text-align :center;
}
h2{
  color: cadetblue;
  display :inline;
  background-color: black;
  padding : 10px;
  border : solid blue;
  margin-left: 625px;
  width : 100px;

}
.para{
  color : white;
  background-color : black;
  border: solid lightblue;
  margin-left: 0px;
}
.li{
  color: white;
  margin-left: 130px
}
h3{
  color : red;
  text-align :center;
}
.steamfacts{
  color : white;
  background-color : black;
  border : solid lightblue;
  width : 50%;
  margin-left: 300px;
}
p{
  color : white;
  text-align: center;
}
body{
  max-width : 800;
}
