body {
  background-image:url(http://cdn.mos.cms.futurecdn.net/exY7h2Z2BUYML95suQv4MM.jpg);
}
h1 {
  color : aqua;
  display : block;
  background-color : black;
  padding : 20px;
  border : solid blue 3.5px;
  font-family;
  font-size : 50px;
  margin : 20px;
  text-align :center;
}
a{
  color: cadetblue;
  display :inline-block;
  background-color: black;
  padding : 10px;
  border : solid blue;
  width : 100px;
  text-align: center;
}
.para{
  color : white;
  background-color : black;
  border: solid lightblue;
  margin-left: 0px;
}
.li{
  color: white;
  margin-left: 130px
}
h3{
  color : red;
  text-align :center;
}
.steamfacts{
  color : white;
  background-color : black;
  border : solid lightblue;
  width : 50%;
  margin-left: 300px;
}
p{
  color : white;
  text-align: center;
  background-color: black;
  border: solid lightblue;
}
body{
  max-width : 800;
}
img{
  border : 20px;
  padding: 50px;
  width: 500px;
  height: 450px;
}
.CSGO{
  text-align: center;
  margin-left: 50px;
}
.Pro{
display: inline;
}
